
$gridBaseline: 8px;

$baseFontSize: 16px;
$bodyTextBaseLineHeight: 1.6;
$headingsBaseLineHeight: 1.45;

$modularScaleBase: $baseFontSize;
$modularScaleRatio: 1.125;

$buttonHeights: (
    large: 56px,
    medium: 48px,
    small: 40px,
);
