@use "utils" as utils;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Work+Sans:wght@300;400;500&display=swap");

h1 {
    @include utils.typography($min:$font-32,$max:$font-46,$start:$mobile,$end:$desktop);
}
h2 {
    @include utils.typography($min:$font-28,$max:$font-36,$start:$mobile,$end:$desktop);

}
h3,
i {
    @include utils.typography($min:$font-25,$max:$font-32,$start:$mobile,$end:$desktop);

}
h4,
p,
a,
button,
label,
select,
legend {
    @include utils.typography($min:$font-16,$max:$font-18,$start:$mobile,$end:$desktop);
}


.margin-wrapper {
    margin-left: $padding-desktop;
    margin-right: $padding-desktop;

    @media only screen and (max-width: $desktop) {
        margin-left: $padding-small;
        margin-right: $padding-small;
    }
    @media only screen and (max-width: $tablet) {
        margin-left: $padding-tablet;
        margin-right: $padding-tablet;
    }
    @media only screen and (max-width: $mobile) {
        margin-left: $padding-mobile;
        margin-right: $padding-mobile;
    }
}

.padding-wrapper {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;

    @media only screen and (max-width: $desktop) {
        padding-left: $padding-small;
        padding-right: $padding-small;
    }
    @media only screen and (max-width: $tablet) {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }
    @media only screen and (max-width: $mobile) {
        padding-left: $padding-mobile;
        padding-right: $padding-mobile;
    }
}
