@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Work+Sans:wght@300;400;500&display=swap");

h1 {
  font-size: 1.8rem;
  font-size: clamp(1.8rem, 1.35rem + 1.5vw, 3rem);
}
h2 {
  font-size: 1.3rem;
  font-size: clamp(
    1.3rem,
    0.9624999999999999rem + 1.1250000000000002vw,
    2.2rem
  );
}
h3,
i {
  font-size: 1rem;
  font-size: clamp(1rem, 0.8125rem + 0.625vw, 1.5rem);
}
h4,
p,
a,
button,
label,
span,
select,
legend {
  font-size: 0.6rem;
  font-size: clamp(
    0.6rem,
    0.48749999999999993rem + 0.37500000000000006vw,
    0.9rem
  );
}

.margin-wrapper {
  margin-left: $padding-desktop;
  margin-right: $padding-desktop;

  @media only screen and (max-width: $small) {
    margin-left: $padding-small;
    margin-right: $padding-small;
  }
  @media only screen and (max-width: $tablet) {
    margin-left: $padding-tablet;
    margin-right: $padding-tablet;
  }
  @media only screen and (max-width: $mobile) {
    margin-left: $padding-mobile;
    margin-right: $padding-mobile;
  }
}

.padding-wrapper {
  padding-left: $padding-desktop;
  padding-right: $padding-desktop;

  @media only screen and (max-width: $small) {
    padding-left: $padding-small;
    padding-right: $padding-small;
  }
  @media only screen and (max-width: $tablet) {
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }
  @media only screen and (max-width: $mobile) {
    padding-left: $padding-mobile;
    padding-right: $padding-mobile;
  }
}
