.hero {
  position: relative;
  background-color: $main;
  z-index: -20;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--big {
    height: 600px;
    @media only screen and (max-width: $tablet) {
      align-items: center;
      height: 400px;
    }
  }
  &--small {
    height: 400px;
    @media only screen and (max-width: $tablet) {
      align-items: center;
    }
  }
}

.hero__container {
  z-index: 10;
}

.hero__img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

.hero__title {
  color: $white;

  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
}
