@use "./../../styles/utils.scss" as utils;

.usps {
  background-color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.usps__item {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  i {
    margin: 0 15px 0 0;
  }
  span {
    font-weight: 500;
    @include utils.typography($min:$font-12,$max:$font-14,$start:$mobile,$end:$desktop);

  }
  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    padding: 0 10px;
    i {
      margin: 0 0 0 0;
    }
  }
}
