@use "./../../styles/utils.scss" as utils;

.email-input__input {
  border: none;
  outline: none;
  background: $grey;
  width: 100%;
  padding: 0.5rem 1.1rem;
  transition: all 0.3s ease-in-out;
  border-radius: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
@include utils.typography($min:$font-12,$max:$font-14,$start:$mobile,$end:$desktop);
  height: 61px;

  &::placeholder {
    color: #252525;
  }
  &:focus {
    border-color: $main;
  }

}

.email-input__container {
  margin-top: 1.5rem;
  display: flex;
  gap: 10px;

  @media only screen and (max-width: $desktop) {
      flex-wrap: wrap;
      button{
      display: block;
      width: 100%;

  }
  }
}
